.tab-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: black;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: center;
}

.tab-item.active-tab {
  color: black;
}

.tab-item.active-tab::after {
  transform: scaleX(1);
}
